<h1>Listing Foods</h1>

<p><%= link_to 'Add food', new_food_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
  </tr>
 
  <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.description %></td>
      <td><%= food.price %></td>
      <td><%= link_to 'Show', food_index_path(food) %></td>
    </tr>
  <% end %>
</table>